
#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#charts {
  display: flex;
  flex-direction: row;
}

.chart{
  width: 750px;
  height: 600px;
  background-color: #f7f7f7;
  margin: 10px auto;
  position: relative
}

